body{
	font-family: 'Alegreya Sans SC', sans-serif !important;
}

.tab-content{
	background-color: #FFF6EA;
}

.nav{
	background-color: #FFEEEE;
}

footer{
	background-color: #EBD8C3;
}

.alissam{
	font-family: 'Handlee', cursive
}

.alissamae{
	font-family: 'Red Hat Text', sans-serif;
}