body{
	font-family: 'Alegreya Sans SC', sans-serif !important;
}

.tab-content{
	background-color: #DFD3C3;
}

.nav{
	background-color: #F8EDE3;
}

.contactform{
	background-color: #7D6E83;
}

.form-control{
	font-family: 'Red Hat Text', sans-serif;
}

.modal{
	font-family: 'Red Hat Text', sans-serif;
}

footer{
	background-color: #D0B8A8;
}

.alissam{
	font-family: 'Handlee', cursive;
	color:  #E6B325;
}

.alissamae{
	font-family: 'Red Hat Text', sans-serif;
}

.card{
	background-color: #9E7676;
	font-family: 'Red Hat Text', sans-serif;
}

.f45links{
	color: #FAF3E3;
}